<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Dashboard</title>

  <link rel="icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1">
</head>

<body class="default">

<div id="weather-effects"></div>

<div class="weather-box">
  <h1>🌤 TORASOFT WEATHER</h1>

  <input id="city" type="text" placeholder="Enter city..." autocomplete="off">
  <button id="searchBtn">SEARCH</button>

  <div id="loading" class="loading"></div>
  <div id="result"></div>
</div>

<script>
const searchBtn = document.getElementById("searchBtn");
const cityInput = document.getElementById("city");

searchBtn.addEventListener("click", getWeather);
cityInput.addEventListener("keypress", function(e){
  if(e.key === "Enter"){
    getWeather();
  }
});

async function getWeather(){

  const city = cityInput.value.trim();
  const loading = document.getElementById("loading");
  const result = document.getElementById("result");

  if(!city){
    result.innerHTML = "Please enter a city";
    return;
  }

  loading.innerHTML =
  `> connecting to satellite...<br>
   > retrieving atmospheric data...`;

  result.innerHTML = "";

  try{

    const res = await fetch("/weather", {
      method:"POST",
      headers:{"Content-Type":"application/json"},
      body: JSON.stringify({city})
    });

    const data = await res.json();

    loading.innerHTML = "> weather data loaded ✅";

    if(data.error){
      result.innerHTML = "City not found";
      return;
    }

    result.innerHTML = `
      <h2>${data.city}</h2>
      <h3>${data.temp} °C</h3>
      <p>💨 Wind: ${data.wind} km/h</p>
    `;

    changeTheme(data.code);

  } catch(error){
    loading.innerHTML = "> connection failed ❌";
    result.innerHTML = "Server error";
  }
}

function changeTheme(code){

  const body = document.body;
  const fx = document.getElementById("weather-effects");

  body.className = "";
  fx.innerHTML = "";

  if(code === 0){
    body.classList.add("clear");
    fx.innerHTML = `<div class="sun"></div>`;
  }

  else if(code <= 3){
    body.classList.add("clouds");

    for(let i=0;i<3;i++){
      const cloud = document.createElement("div");
      cloud.className = "cloud";
      cloud.style.top = (60 + i*80) + "px";
      cloud.style.animationDuration = (18 + i*5) + "s";
      fx.appendChild(cloud);
    }
  }

  else if(code >= 61 && code <= 67){
    body.classList.add("rain");

    for(let i=0;i<120;i++){
      const drop = document.createElement("div");
      drop.className = "raindrop";
      drop.style.left = Math.random()*100 + "vw";
      drop.style.animationDuration = (0.5 + Math.random()) + "s";
      drop.style.animationDelay = Math.random()*2 + "s";
      fx.appendChild(drop);
    }
  }

  else{
    body.classList.add("default");
  }
}
</script>

</body>
</html>



